[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytoml = "==0.1.21"
PyYAML = "==6.0"
railroad-diagrams = "==1.1.1"
requests = "==2.27.1"
semver = "==2.13.0"

[dev-packages]

[requires]
python_version = "3.8"
